<%= simple_form_for(@bulletin) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control', rows: 5 } %>
  </div>

  <div class="form-group">
    <%= f.input :post_type, collection: [ ['게시판', 'bulletin'], ['블로그', 'blog'], ['갤러리', 'gallery']], input_html:{ class:'form-control'} %>
  </div>

  <%= f.button :submit, class: 'btn btn-default' %>

<% end %>