<%= simple_form_for([@bulletin, @post]) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :content, input_html: {class: 'form-control', row: 10} %>
  </div>

  <% if @post.bulletin.post_type == "gallery" %>
    <div class="form-group">
      <%= f.input :picture, as: :file, input_html:{ class: 'form-control' } %>
      <%= f.hidden_field :picture_cache %>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.input :tag_list, placeholder: '하나 이상의 태그는 콤마(,)로 구분하여 입력하세요.', input_html: { class: 'form-control' } %>
  </div>


  <%= f.button :submit, class: 'btn btn-default' %>

<% end %>