<h2><%= params[:bulletin_id] %> <small><%= link_to '설정', edit_bulletin_path(params[:bulletin_id])%></small></h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %> <small>( <%= post.comments.size %> )</small></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', [post.bulletin, post], class:'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_bulletin_post_path(post.bulletin, post), class:'btn btn-default' %></td>
        <td><%= link_to 'Destroy', [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_bulletin_post_path, class:'btn btn-default' %>
